<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>EZ-AR Upload System</p>
<form action="/users/uploadAds" method="post">
    Pic_Link:<input type="text" name="pic_link"> </br>
    Res_Link:<input type="text" name="res_link"> </br>
    <input type="submit" value="Upload">
</form>
</body>
</html>